.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
  align-items: flex-start;
}

.footer_address,
.footer_menu,
.footer_contacts {
  min-height: 300px; /* Задаём минимальную высоту */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Добавляем отступы для контента */
}

.footer_menu {
  padding-left: 35px;
}

.footer_menu_links {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer_links {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer_main {
  text-decoration: none;
}

.images_footer {
  width: 48px;
  height: 48px;
}

.footer_images {
  display: flex;
  gap: 48px;
}

@media (max-width: 1100px) { /* Адаптация для экранов шириной 1100px */
  .footer {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 100px 20px 50px;
  }

  .footer_address,
  .footer_menu,
  .footer_contacts {
    min-height: 250px; /* Уменьшаем высоту для мобильных */
    padding: 15px;
  }
}
